html {
  font-size: 10px; }

body {
  overflow-x: hidden;
  font-size: 1.8rem;
  margin: 0;
  color: #404040;
  font-family: "Roboto";
  font-weight: 300; }

#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #222 url("../img/preloader.svg") no-repeat center center; }

a {
  text-decoration: none; }
  a:active {
    outline: none; }
  a:focus {
    outline: none; }

.menu-link {
  display: none; }
.menu_nav {
  width: 100%;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  z-index: 5;
  border-color: #bce8f1;
  transition: all 0.5s; }
  .menu_nav-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin: 0;
    color: #fff;
    list-style: none;
    padding-right: 5rem;
    transition: all 0.5s; }
    .menu_nav-menu li a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 2rem 2rem; }
      .menu_nav-menu li a:hover {
        background-color: #17a2b8; }
  .menu_nav__active {
    transition: all 0.5s;
    background-color: #222;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4); }

.section {
  padding: 10rem 0rem; }

.block-title {
  font-size: 5rem;
  margin-bottom: 8rem;
  font-weight: 200; }
  .block-title-skills {
    display: block;
    font-size: 3.5rem;
    margin-bottom: 3rem; }

#front {
  color: white;
  background-color: grey;
  background: url("../img/header3.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff; }
  #front .main-text-center {
    text-align: center;
    font-family: "Roboto";
    font-weight: 200; }
    #front .main-text-center h1, #front .main-text-center h3, #front .main-text-center h4 {
      font-weight: inherit; }
    #front .main-text-center h1 {
      font-size: 8rem; }
    #front .main-text-center h3 {
      font-size: 4.5rem; }
    #front .main-text-center h4 {
      font-size: 3rem; }

.front_darken {
  padding: 20rem 0;
  box-shadow: 0 0 0 500px rgba(0, 0, 0, 0.8) inset; }

#about img {
  max-width: 100%; }

#resume {
  background-color: #ececec; }
  #resume h3 {
    text-align: center;
    font-weight: bold;
    color: #000;
    margin: 2rem; }

.portfolio-item {
  position: relative;
  display: block;
  border-radius: 1rem;
  margin-bottom: 2rem; }
  .portfolio-item img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 0 10px #444; }
  .portfolio-item_hover {
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: all 0.2s;
    color: white; }
    .portfolio-item_hover-content {
      font-size: 2rem;
      font-weight: bold; }
    .portfolio-item_hover:hover {
      opacity: 0.9; }

#contacts {
  background-color: #222;
  color: #fff; }

.contacts a {
  color: #fff; }
.contacts-social ul {
  list-style: none;
  padding: 0;
  margin-top: 2rem; }
  .contacts-social ul li {
    display: inline-block; }
    .contacts-social ul li a {
      color: #404040;
      font-size: 3rem;
      width: 6rem;
      height: 6rem;
      display: inline-block;
      text-align: center;
      background-color: #fff;
      padding: 1rem;
      border-radius: 50%;
      margin-right: 0.7rem; }
      .contacts-social ul li a:hover {
        color: #000; }

.feedback label {
  width: 100%; }
  .feedback label span input[type="text"], .feedback label span input[type="email"], .feedback label span textarea {
    width: 100%;
    border-radius: 0.5rem; }
  .feedback label span textarea {
    resize: none; }
.feedback input[type="submit"] {
  color: #fff;
  border: none;
  background-color: #17a2b8;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  outline: none; }
  .feedback input[type="submit"]:hover {
    cursor: pointer;
    background-color: #18aac1; }

.footer {
  text-align: center;
  background-color: #222;
  color: #404040; }

@media (max-width: 768px) {
  html {
    font-size: 8px; }

  .menu-link {
    z-index: 9;
    display: block;
    width: 5rem;
    height: 5rem;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer; }
    .menu-link span, .menu-link span:before, .menu-link span:after {
      display: block;
      height: 2px;
      width: 18px;
      background-color: #333;
      position: absolute;
      left: 50%;
      margin-left: -9px;
      top: 50%;
      margin-top: -1px; }
    .menu-link span:before {
      transition: all 0.2s;
      content: "";
      margin-top: -6px; }
    .menu-link span:after {
      transition: all 0.2s;
      content: "";
      margin-top: 4px; }
    .menu-link__active span {
      background-color: transparent; }
      .menu-link__active span:before {
        transform: rotate(135deg);
        margin-top: 0; }
      .menu-link__active span:after {
        transform: rotate(-135deg);
        margin-top: 0; }
  .menu_nav {
    display: none;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.85);
    width: 100vw;
    height: 100vh;
    position: fixed; }
    .menu_nav-menu {
      margin-top: 180px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      color: #fff;
      list-style: none; }
    .menu_nav__active {
      background-color: transparent;
      box-shadow: none; }
    .menu_nav_mobile__active {
      opacity: 1; }

  .nav-item a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 2rem 2rem;
    text-align: center; }
    .nav-item a:hover {
      background-color: #17a2b8; }

  .section {
    padding: 5rem 0; }

  .front_darken {
    padding: 10rem 0; }

  .block-title {
    margin-bottom: 3rem; } }
